{% extends "app/layout.html" %}

{% block content %}

<h2>Ti da Morte.</h2>
<h3>Nos somos a empresa de TI que mata seus problemas</h3>

<address>
    Empresa Software Soluções<br />
    Rua da Morte, 6666<br />
    <abbr title="Telefone">Tel:</abbr>
    (11) 96969-6969
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:morteti@problemas.com">Suporte@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@morteti.com">Marketing@example.com</a>
</address>

{% endblock %}
