{% extends "app/layout.html" %}

{% block content %}

<h2>TI da Morte.</h2>
<h3>Somos a Empresa de TI que mata seus problemas</h3>

<address>
    Empresa Software Soluções<br />
    Rua da Morte, 666<br />
    <abbr title="Telefone">Tel:</abbr>
    (11) 96666-6969
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@example.com">morteti@problemas.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@morteti.com</a>
</address>

{% endblock %}
